#root, html, body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.dashboard{
  width: 100%;
  text-align: center;
  color: rgb(160, 160, 160);
}
.space{
  padding: 2rem 0;
}
.compo-1{
  color: white;
  background-color: #f57263;
  padding: 5rem 1rem;
  border-radius: 1rem;
  margin: 1rem;
}
.tab-prop a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.tab-prop a:hover{
  border: 1px soild #f57263;
  color: #f57263;
  font-weight: bold;
  text-decoration: none;
}
.home-content{
  padding-top: 1rem;
}